.swiper-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.swiper {
    width: 800px;
    height: 350px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 !important;
    margin: 0 !important;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    background: $main-color;
    position: relative;
    box-shadow: $main-shadow;
    display: flex !important;
    justify-content: center;
    gap: 40px;

    &__number {
        font-size: 36px;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        div {
            color: #fff;
            font-size: 48px;
        }
        span {
            display: block;
            color: #fff;
            font-size: 84px;
        }
    }

    &__text {
        display: block;
        width: 70%;
        padding: 40px 0;
        color: #fff;
    }

    &__text-title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    &__text-subtitle {
        font-size: 22px;
        margin-bottom: 15px;
    }

    &__text-list {
        list-style-position: inside;
        margin-bottom: 20px;
    }
}

.swiper-slide img {
    display: block;
    width: 100%;
}

.swiper-cube .swiper-cube-shadow:before {
    display: none;
}

.swiper-pagination {
    width: 30% !important;
}

.swiper-pagination-bullet-active {
    background: #fff !important;
}