.swiper-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.swiper {
  width: 800px;
  height: 350px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 !important;

  @media (max-width: 950px) {
    width: 500px;
    height: 500px;
  }

  @media (max-width: 650px) {
    height: 700px;
    width: 350px;
  }

  @media (max-width: 500px) {
    width: 280px;
    height: 750px;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  background: $main-color;
  position: relative;
  box-shadow: $main-shadow;
  display: flex !important;
  justify-content: center;
  gap: 40px;

  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding-top: 50px;
    justify-content: flex-start;
  }

  &__number {
    font-size: 36px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__number-day {
    color: #fff;
    font-size: 48px;
  }

  &__number-value {
    display: block;
    color: #fff;
    font-size: 96px;
  }

  &__text {
    display: block;
    width: 70%;
    padding: 40px 0;
    color: #fff;

    @media (max-width: 950px) {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 650px) {
      width: 100%;
    }
  }

  &__text-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  &__text-subtitle {
    font-size: 22px;
    margin-bottom: 15px;
  }

  &__text-list {
    list-style-position: inside;
    margin-bottom: 20px;
  }
}

/* Rewriting Slider Default Styles  */

.swiper-cube .swiper-cube-shadow:before {
  display: none;
}

.swiper-pagination {
  bottom: -30px !important;
}

.swiper-pagination-bullet-active {
  background: $main-color !important;
}
