.section-4 {
  padding: 120px 0 0;

  &__title {
    text-align: center;
    font-size: 68px;
    font-weight: 500;
    margin-bottom: 15px;

    @media (max-width: 480px) {
      font-size: 54px;
    }
  }

  &__subtitle {
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    max-width: 818px;
    margin: 0 auto 55px;

    @media (max-width: 480px) {
      font-size: 26px;
    }
  }

  &__images {
    display: block;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
  }
}
