@font-face{
	font-family: Handjet;
	font-display: swap;
	src: url("../fonts/Handjet-ExtraBold.woff2") format("woff2"), url("../fonts/Handjet-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: Handjet;
	font-display: swap;
	src: url("../fonts/Handjet-Black.woff2") format("woff2"), url("../fonts/Handjet-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face{
	font-family: Handjet;
	font-display: swap;
	src: url("../fonts/Handjet-Bold.woff2") format("woff2"), url("../fonts/Handjet-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: Handjet;
	font-display: swap;
	src: url("../fonts/Handjet-ExtraLight.woff2") format("woff2"), url("../fonts/Handjet-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face{
	font-family: Handjet;
	font-display: swap;
	src: url("../fonts/Handjet-Light.woff2") format("woff2"), url("../fonts/Handjet-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: Handjet;
	font-display: swap;
	src: url("../fonts/Handjet-Medium.woff2") format("woff2"), url("../fonts/Handjet-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: Handjet;
	font-display: swap;
	src: url("../fonts/Handjet-Regular.woff2") format("woff2"), url("../fonts/Handjet-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Handjet;
	font-display: swap;
	src: url("../fonts/Handjet-SemiBold.woff2") format("woff2"), url("../fonts/Handjet-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face{
	font-family: Handjet;
	font-display: swap;
	src: url("../fonts/Handjet-Thin.woff2") format("woff2"), url("../fonts/Handjet-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
